body {
  background-color: rgb(48, 119, 157);

  margin: 0;
  padding: 0;
  height: 100vh;
}
html {
  overflow: hidden;
}
header {
  display: flex;
}
#title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background: white;
  border-radius: 15px 15px 15px 15px;
  border: solid black 2px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.548);
  width: 40%;
  margin: auto;
}
#title:hover {
  background-color: #d4d4d4;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}
#listaEscolas {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(20, 11, 11);
  background: white;
  border-radius: 0px 0px 15px 15px;
  border: solid black 2px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.548);
  width: 40%;
  display: none;
  position: absolute;
  z-index: 2; /* Valor aumentado para garantir que fique sobreposto */
  left: 50%; /* Centraliza a lista no eixo horizontal */
  transform: translateX(-50%); /* Ajusta para centralizar corretamente */
}
.itemEscola {
  margin: 0px;
  display: block;
  color: black;
}
.itemEscola:hover {
  background-color: #d4d4d4;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}
#Monique:hover {
  background-color: #d4d4d4;
  border-radius: 0px 0px 15px 15px;
}
#divDeSectionsComInputs {
  margin-top: 20px;
}
.texts {
  font-size: 12px;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.Ticker {
  margin-left: 5px;
  width: 15%;
  font-family: Arial, Helvetica, sans-serif;
}
.datas {
  width: 10%;
  font-family: Arial, Helvetica, sans-serif;
}
.quantidade {
  width: 12%;
  font-family: Arial, Helvetica, sans-serif;
}
.Valor {
  width: 10%;
  font-family: Arial, Helvetica, sans-serif;
}
.Total {
  width: 18.6%;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 5px;
}
#divButtons {
  display: flex;
}
.ButtonPlusAndDecrement {
  background-color: transparent;
  border: none;
}
.icones{
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.icones:hover {
    color: #d4d4d4;
    transition: color 0.3s ease-in-out;
}
#cal {
  background-color: transparent;
  border: none;
  cursor: pointer;
  
}

/* 320px - 480px = mobile */
/* Em mobile first não precisa de MQ */

/* 480px - 768px = tablet */
@media (min-width: 480px) {
  .texts {
    font-size: 21px;
  }
  .Ticker {
    width: 18.5%;
    margin-left: 5px;
  }
  .datas {
    width: 11%;
  }
  .quantidade {
    width: 13.5%;
  }
  .Valor {
    width: 10.5%;
  }
  .Total {
    width: 19.2%;
  }
  .icones {
    font-size: 28px;
  }
}

/* 768px - 1024px = telas menores, laptops TODO:*/
@media (min-width: 768px) {
  .texts {
    font-size: 35px;
  }
  .Ticker {
    width: 19%;
    margin-left: 5px;
  }
  .datas {
    width: 12%;
  }
  .quantidade {
    width: 14.5%;
  }
  .Valor {
    width: 11.5%;
  }
  .Total {
    width: 20.2%;
  }
  .icones {
    font-size: 42px;
  }
}

/* 1024px - 1200px = desktop, telas maiores, tvs */
@media (min-width: 1024px) {
  .texts {
    font-size: 35px;
    margin-bottom: 10px;
  }
  .Ticker {
    width: 13%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .datas {
    width: 9%;
    margin-right: 10px;
  }
  .quantidade {
    width: 13%;
    margin-right: 10px;
  }
  .Valor {
    width: 11.5%;
    margin-right: 10px;
  }
  .Total {
    width: 16%;
    margin-right: 10px;
  }
  .icones {
    font-size: 42px;
    margin-left: 10px;
  }
}
